{% extends "base.html" %}

{% block content %}

{% if records %}
{% for record in records.items %}
<hr>

<p>author: {{record.author}}</p>
<p>title: {{record.title}}</p>
<p>year: {{record.year}}</p>


<a href="{{ url_for('delete', id=record['id']) }}">Delete</a>
<a href="{{ url_for('update', id=record['id']) }}">Update</a>
{% endfor %}
<hr>


{% for page_num in records.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if records.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('records', page=page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('records', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
{% endif %}

<p><a href="{{ url_for('new_record')}}">new record</a></p>

{% endblock %}